@import url('./spinner.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: linear-gradient(135deg, #e9e4ff, #ffe9f7);
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #2e2f42;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 1128px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(92, 64, 146, 0.15);
  transition: transform 250ms ease, box-shadow 250ms ease;
}

.gallery-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(92, 64, 146, 0.2);
}

.gallery-link {
  height: 180px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  background: #f9f6ff;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.info-span {
  font-size: 14px;
  margin-top: 4px;
  color: #4e36a1;
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 32px;
  align-items: center;

  background-color: #fff0ff;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

input {
  width: 270px;
  height: 40px;
  padding: 0 12px;

  border-radius: 8px;
  border: 1px solid #bf93ff;
  background-color: #ffffffc5;
  font-size: 16px;
  outline: none;
  transition: border-color 200ms;
}

input:hover,
input:focus {
  border-color: #8a57ff;
}

button {
  padding: 8px 16px;
  width: 100px;
  height: 40px;
  border-radius: 8px;

  cursor: pointer;
  border: none;
  background-color: #7a5bff;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(70, 40, 150, 0.2);
  transition: background-color 250ms, transform 200ms;
}

button:hover {
  background-color: #9f82ff;
  transform: translateY(-2px);
}
.gallery-wrapper {
  width: 1128px;
  margin: 0 auto;
  text-align: center;
}
.load-more {
  display: inline-block;
  margin: 24px auto;
}

.hidden {
  display: none;
}